<div id="fh5co-product">
    <form id="profile_form" name="profile_form" class="profile_form">
        <div id="contenido" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="control-group">
                    <label class="profile_name">Name:</label>
                    <p>
                        <input type="text" required id="inputName" ng-model="user.name" name="inputName" placeholder="Name" ng-pattern="/^\D{3,30}$/"
                        class="form-control" dir="auto" ng-minlength="2" maxlength="50" ng-change="change_profile()">
                        <span class='error' ng-show="!profile_form.inputName.$valid && profile_form.inputName.$error.required && (profile_form.inputName.$dirty || profile_form.inputName.$touched)" >Required field</span>
                        <span class="text-danger" ng-show="profile_form.inputName.$error.pattern">Invalid name</span><br />
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.name_error">{{user.name_error}}</span>
                    </p>
                </div>
                <div class="control-group">
                    <label class="pefil">Surnames:</label>
                    <p>
                        <input type="text" required ng-minlength="3" id="inputSurn" ng-model="user.surnames" name="inputSurn" ng-pattern="/^\D{4,120}$/"
                        placeholder="Surnames" class="form-control" dir="auto" maxlength="100" ng-change="change_profile()">
                        <span class='error' ng-show="!profile_form.inputSurn.$valid && profile_form.inputSurn.$error.required && (profile_form.inputSurn.$dirty || profile_form.inputSurn.$touched)">Required field</span>
                        <span class="text-danger" ng-show="profile_form.inputSurn.$error.pattern">Invalid surnames</span><br />
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.surn_error">{{user.surn_error}}</span>
                    </p>
                </div>
                <div class="control-group">
                    <label class="pefil">Birthdate:</label>
                    <p>
                        <div>
                            <md-datepicker required ng-model="user.birthdate" ng-change="format(user.birthdate)" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                        </div>
                    </p>
                </div>
                <div class="control-group">
                    <label class="pefil">Password:</label>
                    <p>
                        <input required type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
                        id="inputPassword" ng-model="inputPassword" name="inputPassword"
                        class="form-control" maxlength="50" ng-change="change_profile()">
                        <span class='error' ng-show="!profile_form.inputPassword.$valid && profile_form.inputPassword.$error.required && (profile_form.inputPassword.$dirty || profile_form.inputPassword.$touched)">Required password</span>
                        <span class="text-danger" ng-show="profile_form.inputPassword.$error.password">Invalid password</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.password_error">{{user.password_error}}</span>
                    </p>
                </div>
                </div>
                <div class="col-md-2">
                    <center>
                        <br>
                        <img id="avatar_user" src="{{user.avatar}}" style="width: 70%; height: 70%;" />

                        <div class="msg" ></div>
                        <br/>
                        <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>

                        <br />
                        <br />
                        <br />
                        <input class="submit_user btn btn-primary" type="button" ng-click="submit()" 
                        name="submit" id="submitBtn_user" value="Guardar"
                        ng-show="profile_form.inputName.$valid && profile_form.inputSurn.$valid" />
                    </center>
                </div>
                <div class="col-md-3">
                    <label class="profile_email">Email:</label>
                    <p>
                        <input required type="text" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"
                        id="inputEmail" ng-disabled="{{controlmail}}" ng-model="user.email" name="inputEmail"
                        placeholder="Email" class="form-control" maxlength="100" ng-change="change_profile()">
                        <span class='error' ng-show="!profile_form.inputEmail.$valid && profile_form.inputEmail.$error.required && (profile_form.inputEmail.$dirty || profile_form.inputEmail.$touched)" >Required email</span>
                        <span class="text-danger" ng-show="profile_form.inputEmail.$error.email">Invalid email</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.email_error">{{user.email_error}}</span>
                    </p>
                <div class="control-group">
                    <label class="pefil">Country:</label>
                    <p>
                        <select name="pais" class="form-control" ng-model="user.pais"ng-options="item.sName for item in paises" placeholder="Pais" id="pais" ng-change="resetPais()">
                            <option value="">Select a country</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.pais_error">{{user.pais_error}}</span>
                    </p>
                </div>
                <br>
                <div class="control-group">
                    <label class="pefil">Province:</label>
                    <p>
                        <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
                        ng-model="user.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="user.pais.sISOCode!='ES'">
                            <option value="">Select a province</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.prov_error">{{user.prov_error}}</span>
                    </p>
                </div>
                    <br>
                <div class="control-group">
                    <label class="pefil">City:</label>
                    <p>
                        <select type="text" class="form-control" name="poblacion" ng-model="user.poblacion"
                        ng-options="item.poblacion for item in poblaciones "placeholder="Poblacion" id="poblacion" ng-disabled="user.pais.sISOCode!='ES'">
                            <option value="">Select a city</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.pob_error">{{user.pob_error}}</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>