<div id="fh5co-product">
    <div class="container">
        <form id="restore_form" name="restore_form" class="form-contact">
            <div class="form-title"><h2 class="form-contact-heading">¿Forgot your password?</h2></div>
            <p>Please introduce your email. In a few moments you'll recieve an email to change your password.</p>
            <hr />
            <br />
            <md-input-container flex="">
                <label for="Email">Email</label>
                <input ng-model="restore.inputEmail" type="email" id="inputEmail" name="inputEmail"  dir="auto" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                <div ng-message="required" ng-show="restore_form.inputEmail.$error.required && (restore_form.inputEmail.$dirty || restore_form.inputEmail.$touched)">You <b>must</b> give an email.</div>
                <div ng-show="restore_form.inputEmail.$error.email">Invalid email.</div>
            </md-input-container>
            
            <input type="hidden" name="token" value="restore_form" />
            <br />
            <hr />

            <input class="btn btn-primary" type="submit" name="submit" id="restoreBtn" value="Enviar" ng-show="restore_form.inputEmail.$valid" ng-click="SubmitRestore()"/>
            <br />
            <br />
            <div id="resultMessage" ng-class="class">{{message}}</div>
        </form>
    </div>
</div>