<script src="<?php echo CONTACT_LIB_PATH; ?>bootstrap-button.js"></script>
<script src="<?php echo LOGIN_JS_PATH; ?>change_password.js"></script>

<div id="fh5co-product">
    <div class="container">
        <form id="changepass_form" name="changepass_form" class="form-contact">
            <br />
            <hr />
            <div class="form-title"><h2 class="form-contact-heading">Change your password</h2></div>
            <p>Please input your new password.</p>

            <div class="control-group">
                <input type="password" id="inputPassword" name="inputPassword" placeholder="Password" class="form-control" maxlength="100">
            </div>

            <br />

            <div class="control-group">
                <input type="password" id="inputPassword2" name="inputPassword2" placeholder="Repeat Password" class="form-control" maxlength="100">
            </div>
            <br />
            <hr />
            <input class="btn btn-primary" type="button" name="submit" id="changeBtn" value="Update"/>

            <img src="<?php echo CONTACT_IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>

            <div id="resultMessage" style="display: none;"></div>
        </form>
    </div>
</div>