<script src="<?php echo CONTACT_LIB_PATH; ?>bootstrap-button.js"></script>
<script src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.min.js"></script>
<script src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.extended.js"></script>
<script src="<?php echo LOGIN_JS_PATH; ?>restore.js"></script>

<div id="fh5co-product">
    <div class="container">
        <form id="restore_form" name="restore_form" class="form-contact">
            <div class="form-title"><h2 class="form-contact-heading">¿Forgot your password?</h2></div>
            <p>Please introduce your email. In a few moments you'll recieve an email to change it.</p>
            <hr />
            <br />
            <div class="control-group">
                <input type="text" id="inputEmail" name="inputEmail" placeholder="Email" class="form-control" maxlength="100">
            </div>
            
            <input type="hidden" name="token" value="restore_form" />
            <br />
            <hr />

            <input class="btn btn-primary" type="submit" name="submit" id="restoreBtn" disabled="disabled" value="Send" />

            <img src="<?php echo CONTACT_IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>

            <div id="resultMessage" style="display: none;"></div>
        </form>
    </div>
</div>